<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:deliver_signs, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:deliver_signs, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :deliver_sign, url(:deliver_signs, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'deliver_signs/form', :locals => { :f => f } %>
 <% end %>
</div>
